<div class="bg-green-600 w-full p-5 text-stone-900">
  <h1 class="text-center text-3xl">Componente Hero</h1>
  <hr />
  <div class="py-5">
    <h2>Heroes</h2>
    <div>
      <dl>
        <td class="font-bold">Nombre:</td>
        <dd>{{ name }}</dd>

        <td class="font-bold">Edad:</td>
        <dd>{{ age }}</dd>

        <td class="font-bold">Metodo:</td>
        <dd>{{ getHeroDescription() }}</dd>

        <td class="font-bold">Capitalizado:</td>
        <dd>{{ capitalizeName }}</dd>
      </dl>
      <div class="text-center space-x-2 text-sm">
        <button
          *ngIf="!ageIsChange"
          class="bg-white py-2 px-3 font-bold"
          (click)="changeAgeHero()"
        >
          Cambiar edad
        </button>
        <button
          *ngIf="!nameIsChange"
          class="bg-stone-600 py-2 px-3 text-white font-bold"
          (click)="changeNameHero()"
        >
          Cambiar nombre
        </button>

        <button
        class="bg-orange-500 py-2 px-3 text-white font-bold"
        (click)="resetForm()"
      >
        Reset Values
      </button>
      </div>
    </div>
  </div>
</div>
